header{
    padding: 0px 136px;
}
header div{
    display: inline-block;
}
.main_logo{
    display: flex;
    height: 80px;
    gap: 40px;
    align-items: center;
}
.logo{
    background-color: blue;
    width: 60.57px;
    height: 28px;
}
.nav{
    display: flex;
    gap: 24px;
    height: 40px;
    width: 385px;
}
